---
---

<div class="tag"><slot /></div>
<style lang="scss">
    .tag {
        padding: 6px 8px;
        border: 2px solid rgb(var(--primaryColor));
        display: inline-block;
        margin: 5px;
        white-space: nowrap;
    }
</style>
