.cli_wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
}

.cli_input {
    color: rgb(var(--primaryColor));
    height: 100%;
    padding: 0 20px;
    background: none;
    outline: none;
    border: none;
    width: 100%;

    &:hover, &:focus {
        background: rgba(var(--primaryColor), 0.04);
    }

    
    @media (max-width: 1000px) {
        padding-right: 50px;
    }
}

.cli_results {
    background: rgba(var(--backgroundColor), 0.9);
    border: 2px solid rgb(var(--primaryColor));
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    z-index: 1;
    
    @media (max-width: 1000px) {
        position: fixed;
        left: 20px;
        right: 20px;
        top: 60px;
    }
}

.cli_result {
    color: rgba(var(--primaryColor));
    display: flex;
    padding: 6px 20px;
    cursor: pointer;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background: rgb(var(--primaryColor));
        color: rgb(var(--backgroundColor));
        text-decoration: underline;
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

.cli_result_date {
    margin-left: auto;

    @media (max-width: 1000px) {
        display: none;
    }
}

.cli_result__active {
    background: rgb(var(--primaryColor));
    color: rgb(var(--backgroundColor));
    text-decoration: underline;
}

.hotkey {
    background: none;
    outline: none;
    color:rgb(var(--bodyColor));
    border: 2px solid rgb(var(--bodyColor));
    font-size: .8rem;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 15px;
    text-transform: uppercase;

    @media (max-width: 1000px) {
        display: none;
    }
}